body {
  background-color: rgba(129, 190, 209, 0.825);
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.btn {
  display: none;
  width: 50px;
}

.active {
  display: block;
}
.toggle-container {
  display: flex;
  position: absolute;
  right: 5.5vw;
  top: 35px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid rgb(69, 67, 67);
}
.toggle-container:hover {
  background-color: rgb(237, 236, 236);
  cursor: pointer;
}
.toggle-container h3 {
  font-family: "Tai Heritage Pro", serif;
  color: rgb(69, 67, 67);
  font-size: 15px;
  text-align: center;
  margin: 0px 0px 0px 5px;
  line-height: 25px;
}
.toggle img {
  width: 55px;
  height: 25px;
  color: rgb(157, 155, 155);
  margin-right: -8px;
}

#map {
  position: absolute;
  height: 95vh;
  width: 95vw;
  border-radius: 10px;
  bottom: -96.5vh;
  left: 1.9vw;
  z-index: -1;
  border: 10px double rgb(179, 178, 178);
  background-color: aliceblue;
  box-sizing: border-box;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#map:hover {
  border: 10px double white;
  background-color: rgb(179, 178, 178);
}
